.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #fce4ec; Light pink background */
}

.login-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password {
  display: block;
  margin-bottom: 20px;
  color: #3f51b5; /* Blue color */
  text-decoration: none;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #64b5f6; /* Light blue */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  color: #ccc;
}

.google-button {
  width: 100%;
  padding: 10px;
  background-color: #673ab7; /* Purple */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-button img {
  height: 20px;
  margin-right: 10px;
}

.signup-text {
  margin-top: 20px;
}

.signup-text a {
  color: #3f51b5; /* Blue color */
  text-decoration: none;
}
