.membership-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #fce4ec; Light pink background */
  padding: 20px;
}

.membership-info {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.feature {
  text-align: center;
  width: 100px;
}

.feature img {
  width: 50px;
  height: 50px;
}

.membership-form {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.membership-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.membership-tab {
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

.membership-tab.active {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

.google-button {
  width: 100%;
  padding: 10px;
  background-color: #673ab7; /* Purple */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.google-button img {
  height: 20px;
  margin-right: 10px;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  color: #ccc;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-container input {
  margin-right: 10px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #64b5f6; /* Light blue */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.login-text {
  text-align: center;
  margin-top: 20px;
}

.login-text a {
  color: #3f51b5; /* Blue color */
  text-decoration: none;
}
